<div class="search-movies">
  <mat-form-field>
    <mat-label>Buscar por título</mat-label>
    <input matInput type="text" [(ngModel)]="searchTitle" />
    <button matSuffix mat-icon-button (click)="search()">
      <mat-icon aria-hidden="false">search</mat-icon>
    </button>
  </mat-form-field>
</div>
<mat-card *ngIf="comics">
  <h2>Resultados:</h2>
  <div class="card-marvel">
    <div class="card-marvel-item" *ngFor="let comic of comics">
      <mat-card-header>
        <div mat-card-avatar class="icon-card"></div>
        <mat-card-title>{{ comic?.title }}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension"
        alt="Thumbnail"
      /><mat-card-content>
        <p>
          {{ comic.description }}
        </p>
      </mat-card-content>
    </div>

    <div class="no-results" *ngIf="comics && comics.length === 0">
      <p>Nenhum quadrinho encontrado com esse título.</p>
    </div>
  </div>
</mat-card>
